*~
*.swp
*.bak

# Altera special files
*.qws
*.rpt
# HTML reports
*.html
# Block symbol file
*.bsf
# Component definitions
*.cmp
# Information for SOPC Builder
*.sopcinfo
# Generated RAM block
/ram/

/db/
/incremental_db/
/simulation/
/output_files/
/timing/
/.qsys_edit/

# ModelSim files
*.wlf
wlf*
transcript

# Xilinx special files
/iseconfig/*.xreport
*.asy
/*.bgn
/*.bit
/*.bld
/*.cmd_log
/*.drc
*.gise
*.log
/*.lso
/*.ncd
*.ngc
/*.ngd
/*.ngr
/*.pad
/*.par
/*.pcf
/*.prj
/*.ptwx
/*.spl
*.sym
/*.stx
/*.syr
/*.twr
/*.twx
/*.unroutes
/*.ut
/*.vhi
*.vho
/*.xpi
/*.xst
/*_bitgen.xwbt
/*_envsettings.html
/*_guide.ncd
/*_isim_*.exe
/*isim*.wdb
/*_map.map
/*_map.mrp
/*_map.ncd
/*_map.ngm
/*_map.xrpt
/*_ngdbuild.xrpt
/*_pad.csv
/*_pad.txt
/*_par.xrpt
/*_summary.html
/*_summary.xml
/*_usage.xml
/*_xst.xrpt
/ipcore_dir/blockrom.ncf
/fuse.xmsgs
/fuseRelaunch.cmd
/isim.cmd
/par_usage_statistics.html
/webtalk_pn.xml
/usage_statistics_webtalk.html
/xilinxsim.ini
/iseconfig/
/isim/
/netgen/
tmp/
/xlnx_auto_0_xdb/
/xst/
/_ngo/
_xmsgs/
